*.log
*~
./DS_Store
figures/._.DS_Store
figures/.DS_Store
fullprocess/.DS_Store
fullprocess/ZZtoolbox/.DS_Store
*.aux
*.bbl
*.log
*.out
*.gz
*.toc
texte/*.aux
texte/*.log
texte/*.nav
texte/*.out
texte/*.pdf
texte/*.snm
texte/*.toc
